@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  font-family: "Noto Sans TC", sans-serif;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  max-height: 100vh;
  width: 100%;
  overflow: scroll;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

#back {
  width: 393.51vh;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 0;
}

#medium {
  width: 393.51vh;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#hole {
  width: 393.51vh;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}

#front {
  width: 393.51vh;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

#miner_container {
  width: 177.7vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 10%;
  position: fixed;
  z-index: 4;
}
#miner_container #miner {
  width: calc(30.3vh * 0.58);
  height: calc(70.8vh * 0.58);
  position: absolute;
  left: 50vh;
  top: 45vh;
  /* 添加暫停 */
  /* animation-play-state: paused; */
}

@-webkit-keyframes scale_shine {
  0% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 234, 117, 0.493));
            filter: drop-shadow(0px 5px 5px rgba(255, 234, 117, 0.493));
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 234, 117, 0.493));
            filter: drop-shadow(0px 0px 0px rgba(255, 234, 117, 0.493));
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 234, 117, 0.493));
            filter: drop-shadow(0px 5px 5px rgba(255, 234, 117, 0.493));
  }
}

@keyframes scale_shine {
  0% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 234, 117, 0.493));
            filter: drop-shadow(0px 5px 5px rgba(255, 234, 117, 0.493));
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 234, 117, 0.493));
            filter: drop-shadow(0px 0px 0px rgba(255, 234, 117, 0.493));
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 234, 117, 0.493));
            filter: drop-shadow(0px 5px 5px rgba(255, 234, 117, 0.493));
  }
}
#rule {
  width: calc(12vh*0.8);
  height: calc(23.7vh*0.8);
  position: absolute;
  left: 236vh;
  top: 55vh;
  z-index: 9;
  -webkit-animation: scale_shine 1.5s infinite;
          animation: scale_shine 1.5s infinite;
  cursor: pointer;
}
#rule:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#minecart {
  width: calc(30.5vh * 0.72);
  height: calc(30vh * 0.72);
  position: absolute;
  left: 165vh;
  top: 70vh;
  z-index: 7;
  -webkit-animation: scale_shine 1.5s infinite;
          animation: scale_shine 1.5s infinite;
  cursor: pointer;
}
#minecart:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#helmet {
  width: calc(12.5vh*0.85);
  height: calc(10.5vh*0.85);
  position: absolute;
  left: 160.5vh;
  top: 66.5vh;
  z-index: 8;
  cursor: pointer;
  -webkit-animation: scale_shine 1.5s infinite;
          animation: scale_shine 1.5s infinite;
}
#helmet:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#oldminer {
  width: calc(53vh*0.35);
  height: calc(93.1vh*0.35);
  position: absolute;
  left: 300vh;
  top: 50vh;
  z-index: 9;
  -webkit-animation: scale_shine 1.5s infinite;
          animation: scale_shine 1.5s infinite;
  cursor: pointer;
}
#oldminer:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.dialog {
  width: 100vw;
  height: 40vh;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(0, 0, 0, 0.9)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 15%, rgba(255, 255, 255, 0) 100%);
  padding: 0 15%;
  z-index: 20;
  cursor: pointer;
}

.character {
  width: 40vh;
  height: 40vh;
  margin-right: 5vh;
  background: url("") no-repeat top center;
  background-size: 100%;
  background-position: top;
}

.dia_text {
  width: 80vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin-top: 15vh;
}

.name {
  margin-bottom: 2vh;
  font-size: 1.5rem;
  color: #fff;
}

.content {
  margin-bottom: 2vh;
  font-size: 22px;
}

.close, .next {
  color: #fff;
  text-decoration: underline;
  margin-left: auto;
}

.disable {
  display: none;
}

.interactive_item {
  background-color: rgba(0, 0, 0, 0.7);
  width: 177.7vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 10%;
  position: fixed;
  z-index: 80;
  color: #fff;
  cursor: pointer;
}

.interactive_item h2 {
  margin-top: 1vh;
}

.content {
  font-size: 22px;
  margin-top: 1vh;
}

.leave {
  color: #fff;
  font-size: 1.2rem;
}

.disable {
  display: none;
}

#home_icon {
  width: 8vh;
  height: 8vh;
  position: fixed;
  z-index: 888;
  top: 5vh;
  left: 5vh;
}
#home_icon:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(1, 1, 1, 0.5);
          filter: drop-shadow(1, 1, 1, 0.5);
}

.interactive_item {
  width: 100vw;
  height: 100vh;
}

.interactive_img {
  height: calc(35vh);
}

#intro_bg {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  opacity: 1;
}
#intro_bg p {
  font-size: 30px;
  color: #fff;
}

#end_bg {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  position: fixed;
  display: none;
  z-index: 1000;
}

#control_instruction {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(26, 26, 26, 0.644);
}

.disable {
  display: none;
}

.none {
  display: none;
}