* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  font-family: "Noto Sans TC", sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#bg_color {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  position: fixed;
  z-index: 0;
}

#intro_bg {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  opacity: 1;
}
#intro_bg p {
  font-size: 30px;
  color: #fff;
}

#end_bg {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  position: fixed;
  display: none;
  z-index: 1000;
}

/*#region image*/
#cut1 {
  z-index: 12;
}

#cut2 {
  z-index: 11;
}

#cut3 {
  z-index: 10;
}

.bg {
  position: fixed;
  width: 177.7vh;
  height: 100vh;
}

#cut4 {
  z-index: 9;
}

#cut5 {
  z-index: 8;
}

#cut6 {
  z-index: 7;
}

#cut7_logo {
  width: 100%;
  height: 100%;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cut7_innerlogo {
  opacity: 100%;
}

#cut7 {
  z-index: 5;
}

#cut8 {
  z-index: 4;
}

#cut9 {
  z-index: 3;
}

/*#endregion*/
#text {
  width: 177.7vh;
  margin-bottom: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 24px;
  z-index: 13;
}
#text #next {
  color: white;
}