*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@mixin phone {
    @media (max-width:550px) {
        @content;
        
    }
}
@mixin hover_obj {
    &:hover{
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
        transform: scale(1.01);
    }
}


html{
    height: 100%;
}
body{
    display: flex;
    padding: 0;
    max-height: 100vh;
    width: 100%;
    overflow: scroll;
    position: relative;
    @include phone{

    }
}

::-webkit-scrollbar {
    display: none;
}
// z-index
// 背景：0
// 中景：2
// 礦工：3
// 山洞：4
// 前景：7

#back{
    width: 648.148vh;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 0;

    @include phone{
    }
}
#miner{
    width:calc(20vh * 0.9);
    height: calc(40vh * 0.9);
    position: absolute;
    left: 205vh;
    top: 50vh;
    z-index: 3;
    @include phone{
    }
    @include hover_obj;
}


#medium{
    width: 648.148vh;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    @include phone{
    }
}

#hole{
    width: 648.148vh;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    @include phone{
        
    }
}

#minecraft{
    width:calc(30.5vh * 0.72);
    height: calc(30vh * 0.72);
    position: absolute;
    left: 165vh;
    top: 70vh;
    z-index: 7;
    @include hover_obj;
}

#oldminer{
    width: calc(53vh*0.38);
    height: calc(93.1vh*0.38);
    position: absolute;
    left: 300vh;
    top: 35vh;
    z-index: 7;
    @include hover_obj;
}
#helmet{
    width:calc(12.5vh*0.85);
    height: calc(10.5vh*0.85);
    position: absolute;
    left: 160.5vh;
    top: 66.5vh;
    z-index:  8;
    cursor: pointer;
    @include hover_obj;
}

#rule{
    width:calc(12vh*0.8);
    height: calc(15.4vh*0.8);
    position: absolute;
    left: 236vh;
    top: 55vh;
    z-index: 9;
    @include hover_obj;
}
#front{
    width: 648.148vh;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    @include phone{
        height: 100%
    }
}


.dialog{
    width: 100vw;
    height: 40vh;
    align-self: flex-end;
    position: fixed;
    display: flex;
    flex-direction: row;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 15%, rgba(255,255,255,0) 100%);
    padding: 0 15%;
    z-index: 20;

}

.character{
    width: 40vh;
    height: 40vh;
    margin-right: 5vh;
    background: url("../image/miner_color_1.png") no-repeat top center;
    background-size: 100%;
    background-position: top;

    
}

.dia_text{
    width: 80vh;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 15vh;
    .name{
        margin-bottom: 2vh;
        font-size: 1.5rem;
        color: #fff;
    }
    .content{
        margin-bottom: 2vh;
        font-size: 1rem;
    }
}

.close,.next{
    color: #fff;
    text-decoration: underline;
    margin-left: auto;
}


.interactive_img{
    width:calc(12.5vh*1.5);
    height: calc(10.5vh*1.5);
}

.interacitve_item{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 80;
    color: #fff;
    h2{
        margin-top: 5vh;
    }
    // p{
    //     width: 50vh;
    // }
}

.leave{
    color: #fff;
    font-size: 1.2rem;
}


.disable {
    display: none;
}